@import "../abstract/variables";

#carousel {
  h2 {
    color: $orange;
    background-color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0;
  }

  .swiper-slide {
    img {
      width: 100%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-pagination {
    position: initial;
    margin: .5em;
  }
}


@media screen and (min-width: 1024px) {
  #carousel {
    h2 {
      font-size: 26px;
    }

    .swiper {
      width: 60%;

        .swiper-slide {
          img {
            width: 100%;
          }
        }
      
        .swiper-pagination {
          margin: 2em 0;
        }
      }

      .swiper-button-prev {
        margin-left: 20%;
      }

      .swiper-button-next {
        margin-right: 19.5%;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: block;
        top: 83%;
      }
    }

  }