@import '../abstract/variables';

#carousel {
    color: $orange;
    background-color: $white;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0;
}