@import "../abstract/variables";

hr {
  margin: 0;
}

#footer {
  background-color: $white;
  padding: 1em;
  position: relative;
  padding-bottom: 3em;

  .list__footer {
    display: none;
  }

  .developer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.712);
  }
}

@media screen and (min-width: 1024px) {
  #footer {
    display: flex;
    justify-content: space-around;

    h2 {
      font-size: 24px;
    }

    .list__footer {
      display: block;

      .title {
        color: $gray;
        font-size: 14px;
        text-transform: uppercase;
      }

      li {
        display: flex;
        align-items: center;
        column-gap: 0.6em;
        margin: 1em 0;

        a {
          color: $dark-gray;
          text-decoration: none;
        }
      }
    }
  }
}
