@import "../abstract/variables";

#header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  position: relative;

  .container {
    display: flex;
    align-items: center;

    h1 {
      display: none;
    }

    .header_menu-hamburguer {
      width: 24px;
      height: 24px;
      background-image: url(/assets/images/Menu.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
    }

    span,
    img {
      padding: 1em;
    }

    .list-menu {
      width: 60vw;
      z-index: 2;
      display: none;
      position: absolute;
      top: 100%;

      .list-menu__title {
        color: $orange;
        font-weight: 700;
      }

      .list-menu__title,
      .list-menu__item {
        padding: 1em;
        background-color: $white;

        a {
          background: $blue-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-transform: uppercase;
        }
      }
    }

    .container__button {
      display: none;
    }

    // Abrindo e fechando o menu
    .container__button:checked ~ .list-menu {
      display: block;
    }
  }

  .options {
    display: none;  
  }
}

// Responsividade para tela de computadores
@media screen and (min-width: 1024px) {
  #header {
    .container {
      h1 {
        display: block;
        font-family: $font-secundary;
        font-weight: 700;
        font-size: 30px;
      }
      
      .header_menu-hamburguer {
        display: none;
      }
    }

    .options {
      display: flex;
      align-items: center;
      column-gap: 1em;

      li {
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}
