@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

// Fontes
$font-primary: 'Poppins', sans-serif;
$font-secundary: 'Josefin Sans', sans-serif;

// Colors
$color_background: #ebecee;
$white: #fff;
$orange: #eb9b00;
$blue-gradient: linear-gradient(97.5deg, #012d4e 35.49%, #326589 165.37%);
$darkblue: #020052;
$black: #000;