/*
    http://meyerweb.com/eric/tools/css/reset/ 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} 
body {
  background-color: #ebecee;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#header .container {
  display: flex;
  align-items: center;
}
#header .container .header_menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url(/assets/images/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
#header .container span,
#header .container img {
  padding: 1em;
}
#header .container .list-menu {
  width: 60vw;
  display: none;
  position: absolute;
  top: 100%;
}
#header .container .list-menu .list-menu__title {
  color: #eb9b00;
  font-weight: 700;
}
#header .container .list-menu .list-menu__title,
#header .container .list-menu .list-menu__item {
  padding: 1em;
  background-color: #fff;
}
#header .container .list-menu .list-menu__title a,
#header .container .list-menu .list-menu__item a {
  background: linear-gradient(97.5deg, #002f52 35.49%, #326589 165.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}
#header .container .container__button {
  display: none;
}
#header .container .container__button:checked ~ .list-menu {
  display: block;
}

#banner {
  background: linear-gradient(97.5deg, #002f52 35.49%, #326589 165.37%);
  color: #fff;
  text-align: center;
  padding: 2.5em 2em;
}
#banner h2 {
  font-size: 18px;
  font-weight: 700;
}
#banner p {
  font-weight: 500;
  margin: 1em 0;
}
#banner input {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 24px;
  padding: 1em;
  width: 100%;
}
#banner input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background: url(/assets/images/Lupa.svg) no-repeat;
  background-position: 1em;
}
#banner input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background: url(/assets/images/Lupa.svg) no-repeat;
  background-position: 1em;
}

#carousel {
  color: #eb9b00;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0;
}/*# sourceMappingURL=style.css.map */